
/* ==========================================================================
   Layout for header and header items
   ========================================================================== */

.l-header {
	position:fixed;
	z-index: 1000;
	height: 71px;
}
.l-header, .l-footer {
 	width: 100%;
}
.l-constrained {
    margin: auto;
    max-width: 1000px;
    min-width:1000px;
    position: relative;
    z-index: 1;
}

.l-header .logo {
	position: relative;
	float: left;	
}
.l-header .primary-nav {
 	float:left;
 	position:relative;
 }
 
.l-toolbar {
 	width: 840px;
	position: absolute;
	right:0px;
	top:0px;	
}

.l-toolbar .btn-group, .l-toolbar .tool-group {
	position: relative;
	float: right;	
}


.top .l-place-holder {
	width:100%;
	position: relative;
	z-index: 1;
}
/* ==========================================================================
   Layout Hero Gallery
   ========================================================================== */
.l-hero {
	max-height: 648px;
    min-width: 1030px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.l-hero .hero-images img {
	width: 100%;
	min-width: 1500px;
}

/* ==========================================================================
   Layout Hero View Finder
   ========================================================================== */
.l-view-finder {
	z-index: 1;
	position: relative;
	overflow: hidden;
  }
/* ==========================================================================
   Layout Main Section
   ========================================================================== */
.l-main-content {
	float:right;
	width:673px;
	z-index: 2;
	position: relative;
	margin-right:36px;
}
/* ==========================================================================
   Layout Featured Gallery
   ========================================================================== */
.l-featured {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}


/* ==========================================================================
   Layout Sidebar Section
   ========================================================================== */
.l-sidebar {
	float: left;
	width: 252px;
	z-index: 2;
	position: relative;
}

/* ==========================================================================
   Misc
   ========================================================================== */
 
/* ==========================================================================
   Layout Grid
   ========================================================================== */
.l-grid {
list-style-type: none;
}
.l-grid li {

}

.l-grid > li{
display: inline-block;
vertical-align: top;
/* IE7 hack to mimic inline-block on block
elements */
*display: inline;
*zoom: 1;
}

.l-grid .l-col-1-2 {
    -moz-box-sizing: border-box;
    float: left;
    width: 49%;
    padding: 13px 18px;
        	display: inline-block;
	/* IE7 hack to mimic inline-block on block
elements */
*display: inline;
*zoom: 1;
}

.l-grid .l-col-1-2-3 {
    -moz-box-sizing: border-box;
    float: left;
    width: 32%;
    padding: 13px 18px;
    	display: inline-block;
	/* IE7 hack to mimic inline-block on block
elements */
*display: inline;
*zoom: 1;
}

/* ==========================================================================
   Misc
   ========================================================================== */
.l-inline li, .l-inline a, .l-inline div {
	display: inline-block;
	/* IE7 hack to mimic inline-block on block
elements */
*display: inline;
*zoom: 1;
}
.l-stacked li, nav .l-stacked a, a.icon, .l-stacked div {display: block}


.l-stacked .l-inline li {
	display: inline-block;
	/* IE7 hack to mimic inline-block on block
elements */
*display: inline;
*zoom: 1;
}
.l-left {
	float:left;
}
.l-right {
	float:right;
	}

.l-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.l-clearfix {
    zoom: 1;     /* triggers hasLayout */
    }  /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */
