/* ==========================================================================
 Header and Likley Header Modules
 ========================================================================== */
.header {
	background-image: url("../images/assets/bk.primary-nav.png");
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out; /*Maybe IE10*/
	transition: all 0.7s ease-out;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
}
/*
 * Logo Module
 */
.logo {
	text-align: center;
}
.logo img {
	vertical-align: middle;
}

.header .logo {
	top: 14px;
	z-index: 5;
}

.header .logo-big {
	width: 219px;
	height: 170px;
	left: -30px;
}
.header .logo-small {
	width: 0px;
	height: 45px;
	top: 22px;
	left: -22px;
}

.is-collapsed .header .flare-1 {
	position: relative;
	left: -160px;
	top: 69px;
	width: 530;
	height: 2px;
	z-index: 6;
	background-image: url("../images/assets/bar_gray.png");
	background-repeat: no-repeat;
}

/*
 * Primary Nav Module
 */

.header .primary-nav {
	left: -35px;
}

.header .primary-nav a {
	padding: 13px 16px;
	color: #c9c9c9;
	text-transform: uppercase;
	font-size: .95em;
	letter-spacing: .07em;
	font-weight: lighter;
	margin-right: -4px;
}

.header .primary-nav li:last-child a {
	margin-right: 0px;
}

/* ==========================================================================
 SEARCHBAR Module
 ========================================================================== */
.form-search input[type="search"] {
	width: 110px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	background-color: transparent;
	border: #666 solid 1px;
	padding: 5px 5px 5px 25px;
	font-size: .8em;
	color: #c8c8c8;
	background-image: url("../images/assets/img.magnifying_glass.png");
	background-position: 5px center;
	background-repeat: no-repeat;
	float: right;
}
.main-footer .form-search input[type="search"] {
	width: 80%;
	background-color: #797979;
	padding: 7px 6px 7px 25px;
	font-size: 1em;
	color: #000000;
}

.main-footer .searchbar {
	width: 100%;
}
/* ==========================================================================
 TOOLBAR IN HEADER Module
 ========================================================================== */
.toolbar .btn-group {


}
.toolbar {
	color: #c8c8c8;
}
.toolbar li {
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}
.toolbar a.contact {
	color: #c8c8c8;
	font-size: .8em;
	letter-spacing: .09em;
	padding: 0px 18px 0 0;
}
.l-toolbar .tool-group {
	width:100%;
	text-align:right;
	margin-top: 8px;
}

.toolbar .user {
	font-size:0.65em;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}
.toolbar .user img {
	margin-right: 6px;
}

.toolbar .social .pagination {
	position: relative;
	width: 100%;
}
.toolbar .social .pagination li {
	width:18px;
	height:18px;
	margin-right: 0px;
	position: absolute;
}
.toolbar .social .pagination li.shifter-next {
	width:18px;
	height:18px;
	margin-right: 0px;
	right:0px;
	float:right;
	text-align: right;
}
.toolbar .social .icon-links {
	overflow:hidden;
	padding:0 18px;
	text-align: center;
}
.toolbar .social .icon-links li {
	margin-right: 2px;
	margin-left: 2px;
	width:18px;
	height:18px;
}

/* ==========================================================================
 Hero Gallery Module
 ========================================================================== */
.hero {
}

.hero-controls div.shifter {
	position: absolute;
	z-index: 5;
	cursor: pointer;
}

.hero-controls {
	position: relative;
	z-index: 4;
}

.hero .hero-images {
	position: relative;
	z-index: 1;
}

.hero-controls .shifter {
	width: 24px;
	height: 46px;
	top: 300px;
	background-repeat: no-repeat;
}

.hero-controls .shifter-next {
	background-image: url("../images/assets/home.arrow.right.png");
	left: 986px;
}
.hero-controls .shifter-prev {
	background-image: url("../images/assets/home.arrow.left.png");
	left: -10px;
}

/* ==========================================================================
 View Finder Section Modules
 ========================================================================== */
/*
 * Secondary Nav Module
 */
.secondary-nav {
	float: right;
	color: #FFFFFF;
	height: 190px;
	z-index: 5;
	top: 160px;
	position: absolute;
	right:0px;
	width: 215px;
}
.secondary-nav ul {
	position: fixed;
}
.secondary-nav a {
	width: 215px;
	height: 62px;
	text-indent: -9999px;
	cursor: pointer;
}
.secondary-nav a.item1 {
	background-image: url("../images/assets/btn.tickets.png")
}
.secondary-nav a.item2 {
	background-image: url("../images/assets/btn.calendar.png")
}
.secondary-nav a.item3 {
	background-image: url("../images/assets/btn.donate.png")
}

/*
 * info-pane that slide from the top
 */
.info-pane {
	position: absolute;
	z-index: 3;
	background-image: url("../images/assets/bk.info-pane.png");
	left: -750px;
	padding-left: 750px;
	padding-right: 550px;
	width: 621px;
	height: 338px;
	padding-top: 30px;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
	overflow: hidden;
}
.info-pane h1 {
	font-size: 2.6em;
	color: #aab4cc;
	margin: 0px 0 0px 0;
}
.info-pane p {
	font-size: 1.05em;
	color: #8992a7;
	line-height: 1.5em;
	margin: 5px 0;
}

/*
 * Homepage TILE SCROLL
 */
.tile-holder {
	position: absolute;
	width: 100%;
	z-index: 2;
	height: 648px;
}

.tile-holder .tile-group {
	position: relative;
	left: 266px;
	width: 720px;
}
.tile {
	width: 220px;
	text-align: center;
	overflow: hidden;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	min-height: 242px;
}
.tile .image {
	position: relative;
	overflow: hidden;
}
.tile .logo {
	height: 135px;
	line-height: 125px;
	position: relative;
	width: 100%;
}
.tile h3 {
	margin: 10px 0 0 0;
	font-size: 0.85em;
}
.tile h5 {
	margin: 10px 0 0 0;
	color: #888888;
}
.tile .date {
	font-family: Georgia;
	font-size: 0.85em;
	color: #a5a5a5;
	margin: 10px 0 20px 0;
	font-style: italic;
}

.tile .options {
	position: absolute;
	z-index: 5;
	background-color: #FFFFFF;
	bottom: 0px;
	left: 0px;
	width: 220px;
	padding: 7px 0;
}
.tile .side-two, .tile .side-one {
	position: absolute;
	z-index: 3;
	background-color: #fff;
	width: 220px;
}
.tile .side-two {
	position: relative;
}

/*
* Logo Links Nav Module
*/
.logo-links {
	top: 190px;
	position: absolute;
	z-index: 1;
	width: 873px;
}
.logo-links .logo {
	margin-right: 9px;
	opacity: 0.9;
}
.logo-links .logo:last-child {
	margin-right: 0px;
}
.logo-links .logo a {
	width: 134px;
	height: 136px;
	line-height: 125px;
}
.logo-links .logo img {

}
/*
 *  IMAGE INFORMATION PANEL
 */

.view-finder .info-icon {
	background-image: url("../images/assets/btn.info.png");
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 5;
	cursor: pointer;
}

.view-finder.is-homepage .info-icon {
	top: 500px;
}

.view-finder.is-subpage .info-icon {
	top: 300px;
	left: 926px
}

.image-info {
	position: absolute;
	z-index: 4;
	background: transparent url("../images/assets/vvf.info.background.png");
	background-repeat: no-repeat;
	font-size: 12px;
	height: 87px;
	width: 299px;
	color: #eee;
	display: none;
}
.image-info .pagination {
	position: relative;
	z-index: 6;
}
.image-info .pagination li {
	position: absolute;
	top: 20px;
	z-index: 7;
}

.image-info .pagination li.shifter {
	color: #fff;
	font-size: 1.25em;
	height: 30px;
	width: 16px;
	cursor: pointer;
}
.image-info .pagination li.shifter-next {
	left: 272px;
	background: transparent url("../images/assets/info.arrow.right.png");
}

.image-info .pagination li.shifter-prev {
	left: 12px;
	background: transparent url("../images/assets/info.arrow.left.png");
}

.image-info .details {
	padding: 15px 45px 0 45px;
}
.image-info .details .image-credit {
	color: #97a2bc;
}
.image-info .details .image-title {
	margin-bottom: 4px;
}

/* ==========================================================================
 Misc Sidebar Modules
 ========================================================================== */
.sidebar .logo {
	height: 218px;
	margin-bottom: 38px;
	line-height: 210px;
	opacity: 0.9;
}


/* Tertiary Nav for Sidebar*/
.tertiary-nav {
	border-top: 8px solid #c87931;
	border-bottom: 8px solid #c87931;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
	padding: 8px 0 14px 0;
	margin-bottom: 38px;
	opacity: 0.9;
}
.tertiary-nav a {
	color: #FFFFFF;
	line-height: 25px;
	padding-left: 20px;
}
.tertiary-nav .subnav {
	background-color: #9e5c1f;
	margin-bottom: 9px;
}
.tertiary-nav .subnav a {
	color: #ffeac5;
	padding-left: 32px;
	font-size: .85em;
}

/* ==========================================================================
 EVENT GALLERY AND EVENT LIST
 ========================================================================== */
/* ================================================
 Event Shared Items
 ================================================*/
.event {
}
.event .datebox {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #4d556a;
	z-index: 2;
	padding-top: 6px;
}
.event .datebox .day-word, .datebox .day-number {
	width: 100%;
	display: block;
	text-align: center;
	color: #FFFFFF;
}
.event .datebox .day-word {
	font-size: 0.60em;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.event .datebox .day-number {
	font-size: 1.25em;
}
/* ================================================
 Event Gallery Shared Items
 ================================================*/
.events-gallery .details h4 {
	font-size: 1.25em;
	margin: 3px 0 6px 0;
}
.events-gallery .date {
	font-size: 0.75em;
	font-family: ProximaNova-Semibold;
	font-weight: 100;
	font-style: normal;
	color: #5D5D5D;
}
.events-gallery .event-image {
	position: relative;
	z-index: 1;
}
.events-gallery .pagination {
	position: relative;
	z-index: 3;
}
.events-gallery .pagination li {
	position: absolute;
	z-index: 5;
	cursor: pointer;
}

/* ================================================
 Event Gallery Main Content
 ================================================*/
.main-content .events-gallery {

	background-position: bottom;
	background-repeat: no-repeat;
}
.event-dashboard ul {
	float: left;
}
.event .event-dashboard {
	background: transparent url("../images/assets/event.bar_no_status.jpg");
	background-repeat: no-repeat;
	height: 49px;
	line-height: 20px;
	text-transform: uppercase;
	color: #dfdfdf;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
	font-size: .85em;
	overflow: hidden;
	padding: 5px 0 0 0;
	width: 100%;


}

.event.event-detailed .event-dashboard {
	height: 41px;
	background: transparent url("../images/assets/bk.event.dash.jpg");
	
}
	
.event .event-dashboard .status, .event .event-dashboard .message {
	width: 68%;
	padding: 12px 0 0 32px;
}
.event .event-dashboard .options {
	width: 25%;
	text-align: right;
	padding-top: 8px;
}

.event .event-dashboard .status {
	background: transparent url("../images/assets/bk.quick.status.png");
	background-repeat: no-repeat;
	height: 37px;
}

.event.event-detailed .event-dashboard .status {
	width: 30%;
	}
	
.event.event-detailed .event-dashboard .options {
	width: 63%;
}
	
.status .icon {
	background: transparent url("../images/assets/icon.status.png");
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	margin-right: 6px;
}
.status .icon-available.icon {

}
.status .icon-limited.icon {
	background-position: center;
}
.status .icon-not-available.icon {
	background-position: bottom;
}
.event .event-dashboard .status li {
	text-shadow: 1px 1px 1px #000;
}

.event-dashboard .options .btn {

	
}
.main-content .events-gallery .details {
	width: 469px;
	height: 102px;
	position: absolute;
	z-index: 3;
	background-image: url("../images/assets/hero.blk.bar.png");
	top: 179px;
	padding: 8px 14px 0 30px;
}
.main-content .events-gallery .pagination {
	position: absolute;
	left: 566px;
	top: 256px;
	background-image: url("../images/assets/hero.blk.bar.png");
	font-size: .95em;
	color: #fff;
	padding: 6px 0 6px 15px;
	width: 105px;
	z-index: 3;
}
.main-content .events-gallery .pagination li {
	position: relative;
}
.main-content .events-gallery .pagination .count {
	margin: 0 8px;
	margin-top: 4px;
}
.main-content .events-gallery li {

}
.main-content .events-gallery .pagination .shifter a {
	color: #fff;
	font-size: 1.25em;
}
.events-gallery .event .event-image {
	background-image: url("../images/assets/bar_blend_orange.png");
	padding-bottom: 3px;
	background-color: #FFFFFF;
}
.main-content .events-gallery .details h4 {
	height: 44px;
	color: #FFFFFF;
}

.main-content .events-gallery .date {
	color: #FFFFFF;
}

.event-basics {
	padding-left: 30px;
	margin-bottom: 50px;
}
.event-basics h1 {
	margin: 0px 0 6px 0;
}
.event .details {
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
	color: #666;
}
.event-basics .details {
	margin-left: 58px;
	padding-left: 18px;
	border-left: 1px solid #ccc;
	font-size: 1.1em;
	color: #666;
}
.event-basics .details .price, .event-basics .details .date {
	margin-bottom: 8px;
}
.event-detailed {
	margin-bottom: 30px;
}
.event-detailed  h2 {
	margin: 0px;
	height: 50px;
	color: #877060;
}
.event-detailed .date {
	font-size: 0.85em;
}
.event-detailed .event-image {
	float: left;
}
.event-detailed .details {
	float: left;
	background-image: url("../images/assets/bk.event-detailed.png");
	padding: 12px 16px;
	height: 155px;
}
.event-detailed .event-dashboard {
	float: left;
}
/* ================================================
 Event Gallery Sidebar
 ================================================*/
.sidebar .events-gallery {
	background-color: #FFFFFF;
	position: relative;
}
.sidebar .events-gallery .event {
	background-color: #fff;
	margin-bottom: 4px;
	-webkit-box-shadow: 0px 0px 2px 0px #999;
	box-shadow: 0px 0px 2px 0px #999;
	margin: 2px 10px 0px 10px;
}
.sidebar .events-gallery .details {
	padding: 10px;
}
.sidebar .events-gallery .date {
	font-size: .90em;
}
.sidebar .events-gallery h4 {
	height: 80px;
}
.sidebar .events-gallery .shifter {
	width: 20px;
	height: 20px;
	top: 73px;
	background-repeat: no-repeat;
	background-image: url("../images/assets/btn.sm.arrow.paging.png");
}

.sidebar .events-gallery .shifter-next {
	background-position: right top;
	left: 222px;
}
.sidebar .events-gallery .shifter-prev {
	left: 10px;
}

/* ================================================
 Event Lists
 ================================================*/
.events-list .event {
	background-color: #fff;
	margin-bottom: 4px;
	-webkit-box-shadow: 0px 0px 2px 0px #999;
	box-shadow: 0px 0px 2px 0px #999;
	padding: 9px;
	margin: 2px 8px 9px 11px;
}

.events-list.scroll-pane {
	margin-right: 10px;
}
.events-list .event .details {
	position: relative;
	min-height: 69px;
	padding-left: 56px;
}

.events-list .event .event-image {
	position: absolute;
	margin:2px 0 0 20px;
	background-image: url("../images/assets/bk.shadow.thumb.png");
	padding-bottom:5px;
	background-position: bottom;
	background-repeat: no-repeat;
}
.events-list .details .date {
	font-size: 0.70em;
	color: #888888;
	text-transform: uppercase;
}
.events-list .event h5 {
	margin: 5px 0 0 0;
}

.events-list .event .btn {
	float: right;
}

/* ==========================================================================
 Split View Section
 ========================================================================== */

.split-view {
	position: relative;
	height: 628px;
	background-color: #fff;
}
.split-view .hero-images li {
	width: 49.5%;
	overflow: hidden;
}
.split-view .hero-images li {
	
}
.split-view .hero-images li:last-child {

}
.split-view .hero-images img {
	max-width: 100%;
	height: auto;
	min-width: 812px
}
.split-view .hero-images {
	position: absolute;
}
.split-panes .pane {
	position:relative;
	width:46%;
	background-image: url("../images/assets/bk.trans.wht.png");
	margin-top:100px;
	padding-top:60px;
	padding: 60px 10px 10px 10px;
}
.split-panes .pane .scroll-pane {
	height:400px;
}
.split-panes  .icon-links {
	position: absolute;
	left: 330px;
	top: 20px;
}
.split-panes .pane h2 {
	position: absolute;
	
	top:-90px;
	left:10px;
	width:127px;
	height:127px;
	text-indent:-9999px;
}

.split-panes .events-list .btn-link {
	position: absolute;
	top:35px;
	left:348px;
}

.split-panes .events-list .event .details {
	padding-left: 142px;
	min-height: 88px;
}
.split-panes .events-list .event .btn {
	position: absolute;
	right:17px;
	z-index: 5;
}

.split-panes .events-list.pane h2 {
	background-image: url("../images/assets/icon.events.png");
}

.split-panes .social.pane h2 {
	background-image: url("../images/assets/icon.social.png");
}
.split-panes .social .item {
	padding: 9px 9px 16px 9px;
}


/* ==========================================================================
 Content Section Modules
 ========================================================================== */
.content {
	padding: 0 0px 30px 0px;
	background-color: #fff;
	background-image: url("../images/assets/bk.texture.jpg");
	background-repeat: no-repeat;
}
/* ================================================
 Article Content
 ================================================*/
.content article {
	padding: 0 20px 15px 30px;
}

.content .scroll-pane {
	margin-right: 24px;
	min-height: 20px;
}
.share {
	padding: 7px 20px 20px 20px;
	text-align: right;
}
.content p {
	font-size: 0.938em;
	margin: 1.33em 0;
	color: #5d5d5d;
	line-height: 1.5em;
}
.content h1 {
	margin-top: 0px;
}

/* ==========================================================================
 SOCIAL GALLERY Modules
 ========================================================================== */
.main-content .social {
	background-color: #dbdbdb;
	padding: 10px 10px 10px 30px;
	position: relative;
	-moz-box-shadow: inset -0px -0px 1px 1px #888;
	-webkit-box-shadow: inset -0px -0px 1px 1px #888;
	box-shadow: inset -0px -0px 1px 1px #888;
}
.main-content .social h2 {
	position: relative;
	float: left;
	margin: 6px 0 6px 0;
	padding: 0.3em 0 0.7em 40px;
	background: url("../images/assets/icon.title.social.png");
	background-position: left center;
	background-repeat: no-repeat;
	font-size: .95em;
	text-transform: uppercase;
	color: #3d4456;
}
.main-content .social .pagination {
	position: absolute;
	left: 513px;
	top: 28px;
	font-size: .95em;
	color: #3d4456;
}
.main-content .social .pagination .count {
	margin: 0 10px;
}
.pagination li {
	vertical-align: middle;
}
.main-content .social .pagination .shifter a {
	width: 21px;
	height: 21px;
	background-image: url("../images/assets/icons.paging.png");
}
.main-content .social .pagination .shifter-next a {

}
.main-content .social .pagination .shifter-prev a {
	background-position: right top;
}
.main-content .social  .icon-links {
	position: absolute;
	left: 633px;
	top: 70px;
}
.social .icon-links a.icon {
	width: 25px;
	height: 25px;
	background-image: url("../images/assets/icons.social.light.png");
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.social .icon-links .icon.facebook {
	background-position: 1px 3px;
}
.social .icon-links .icon.twitter {
	background-position: 1px -29px;
}
.social .icon-links .icon.instagram {
	background-position: 1px -62px;
}
.social .icon-links .icon.flikr {
	background-position: 1px -94px;
}

.social .item {
	background-color: #fff;
	margin-bottom: 7px;
	-webkit-box-shadow: 0px 0px 2px 0px #999; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 0px 2px 0px #999; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
	margin: 2px 8px 9px 11px;
}
.main-content .social .item {
	margin:0 0 7px 0;
	width:42%;
	padding:3%;
}
.main-content .social .collection {
	width: 94%;
	float: left;
}

.social .item .logo {
	width: 32%;
	vertical-align: top;
	background: none;
	text-align: left;
	margin-top: 3px;
	display: inline-block;
}
.social .item .exerpt .image {
	text-align:left;
	padding: 2px 7px 3px 0;
	float:left;
}
.social .item .exerpt {
	width: 63%;
	color: #5d5d5d;
	display: inline-block;
}
.split-panes .social .item .logo {
	width: 26%;
}
.split-panes .social .item .exerpt {
	width: 65%;
}
.social .item .exerpt p {
	font-size: 0.75em;
	margin-top:0px;
}
.social .item .exerpt .date {
	font-size: 0.70em;
	margin-bottom: 16px;
}
.social .item h4 {
	margin: 0px 0 0px 0;
}

.social .item .options {
	font-size: 0.60em;
}
.social .item .options li {
	margin-right: 3px;
}
.social .options li a {
	color: #5d5d5d;
}

/* ==========================================================================
 Sponsored Logos
 ========================================================================== */
.sponsored-logo-links {
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #FFFFFF;
	padding: 20px 30px;
}
.sponsored-logo-links li {
	margin-right: 40px;
}
.sponsored-logo-links li:last-child {
	margin-right: 0px;
}

/* ==========================================================================
 Thoughts
 ========================================================================== */
.thoughts {
	padding: 25px 0 50px 0;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
}
.thought {
	color: #6f788e;
	margin: 13px 0;
}
.thought-1 {
	width: 100%;
	font-size: 1.5em;
	text-transform: uppercase;
}
.thought-2 {
	width: 63%;
	font-size: 3.3em;
	line-height: 1.2em;
}

.thought-3 {
	position: relative;
	width: 36%;
	text-align: right;
	font-size: 2.5em;
	top: 35px;
	line-height: 33px;
}

.thought mark {
	color: #97a2bc;
}
.thought em {
	font-family: Georgia;
	font-size: 0.70em;
}

.main-content .thoughts {
	padding: 15px 0;
}
.main-content .thought-1 {
	width: 98%;
	padding-left: 2%;
	font-size: 1.1em;
	text-transform: uppercase;
}
.main-content .thought-2 {
	width: 61%;
	padding-left: 2%;
	font-size: 2.2em;
	line-height: 1.2em;
}

.main-content .thought-3 {
	position: relative;
	width: 34%;
	text-align: right;
	padding-right: 2%;
	font-size: 1.55em;
	top: 22px;
	line-height: 22px;
}

/* ==========================================================================
 Testimonial
 ========================================================================== */
.testimonials {
	background: #2a2a2a;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	height: 122px;
	margin-top: 15px;
}
.testimonials ul{
	margin: 0 auto;
	text-align: center;
}

.testament {
	margin: 13px 4px 0 4px;
	
}

/* ==========================================================================
 Footer Module
 ========================================================================== */

.main-footer {
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 54px;
	font-family: ProximaNova-Semibold;
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	text-transform: uppercase;
}
.main-footer  a{
	color: #fff;
}
.main-footer address {
	display: inline;
	margin-left: 10px;
}
.main-footer .l-stacked li {
	margin-bottom: 6px;
}
.main-footer .col-1 {
	width: 23%;
}
.main-footer .col-2 {
	width: 20%;
}
.main-footer .col-3 {
	width: 14%;
}
.main-footer .col-4 {
	width: 12%;
}
.main-footer .col-5 {
	width: 29%;
}
.main-footer .col-6 {
	width: 100%;
	margin-top: 80px;
	text-transform: none;
}
/* ==========================================================================
 Button Module
 ========================================================================== */

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	margin-bottom: 0;
	padding: 4px 16px 1px 16px;
	font-size: 0.65em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all 0.09s ease-out;
	-moz-transition: all 0.09s ease-out;
	-o-transition: all 0.09s ease-out;
	-ms-transition: all 0.09s ease-out; /*Maybe IE10*/
	transition: all 0.09s ease-out;
}
.btn-block {
	-moz-box-sizing: border-box;
	display: block;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.btn-block + .btn-block {
	margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
	width: 100%;
}

a.btn {
}
input.btn {
}
button.btn {
}

.btn-primary {
	background-color: #f2dc23;
	border-color: #f2dc23;
}

.btn-basic {
	background-color: #888888;
	border-color: #888888;
	font-weight: bold;
}

.tile .btn {
	padding-left: 6px;
	padding-right: 6px;
}
.tile .btn-basic {
	color: #fff;
	font-weight: normal;
}
.btn-secondary {
	background-color: #bd712c;
	border-color: #bd712c;
	color: #fff;
}
.btn-close {
	width: 26px;
	height: 26px;
	background-image: url("../images/assets/btn.close.png");
	padding: 0px;
	text-indent: -9999;
	background-color: none;
	border: none;
}
.event .event-dashboard .btn-basic {

}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
	border: 0 none;
	padding: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}
.btn-link {
	border-color: transparent;
	border-radius: 0 0 0 0;
	color: #917c67;
	cursor: pointer;
	padding: 0px;
}
.l-inline .btn-group li {
	margin-right: 7px;
}
.l-inline .btn-group li:last-child {
	margin-right: 0px;
}

.l-stacked.btn-group li {
	margin-right: 0px;
	margin-bottom: 7px;
}
.l-stacked.btn-group li:last-child {
	margin-bottom: 0px;
}

.btn-arrow {
	background-image: url("../images/assets/btn.header.arrow.gif");
	background-repeat: no-repeat;
	background-position: right bottom;
	text-shadow: none;
	color: #c8c8c8;
	padding: 0px 45px 0px 0px;
	text-transform: uppercase;
	height: 14px;
	line-height: 16px;
}
.btn-list .btn {
	background-image: url("../images/assets/dot.png");
	background-repeat: no-repeat;
	background-position: right center;
	text-shadow: none;
	color: #c8c8c8;

}
.toolbar .btn-list .btn {
	padding-right:20px;
	margin-right:12px;

}
.btn-list .btn:last-child {
	background: none;
	padding-right:0px;

}
.toolbar .btn-group li {
	margin-right: 26px;
}
.toolbar .btn-group li:last-child {
	margin-right: 0px;
}

/* ==========================================================================
 Primary Tab Style
 ========================================================================== */

.sidebar .pane {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 38px;
}

.panes.tabs-primary {
	background-color: #fff;
	border-top: 6px solid #bd712c;
}
.panes.tabs-primary .pane .scroll-pane {
	min-height: 150px;
	max-height: 380px;
	margin-right: 10px;
}

ul.tabs.tabs-primary {
	margin: 0 !important;
	padding: 0;
	height: 26px;
}

ul.tabs.tabs-primary li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 49%;
	margin-right: 3px;
}
ul.tabs.tabs-primary li:last-child {
	margin-right: 0px;
}
/* link inside the tab. uses a background image */
ul.tabs.tabs-primary a {
	float: left;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 5px 0px;
	text-decoration: none;
	border: 1px solid #666;
	border-bottom: 0px;
	height: 14px;
	background-color: #efefef;
	color: #b36a28;
	text-transform: uppercase;
	position: relative;
	top: -2px;
	outline: 0;
	opacity: 0.9;
}
ul.tabs.tabs-primary a:hover {
	opacity: 1;
}

/* selected tab */
ul.tabs.tabs-primary a.current {
	background-color: #b36a28;
	border-bottom: 1px solid #b36a28;
	color: #fff;
	cursor: default;
	background: #b36a28;
	top: 0px;
	opacity: 1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzNmEyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2Q4ODUzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOTZlMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #b36a28 0%, #d8853a 20%, #b96e2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b36a28), color-stop(20%,#d8853a), color-stop(100%,#b96e2b));
	background: -webkit-linear-gradient(top,  #b36a28 0%,#d8853a 20%,#b96e2b 100%);
	background: -o-linear-gradient(top,  #b36a28 0%,#d8853a 20%,#b96e2b 100%);
	background: -ms-linear-gradient(top,  #b36a28 0%,#d8853a 20%,#b96e2b 100%);
	background: linear-gradient(to bottom,  #b36a28 0%,#d8853a 20%,#b96e2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b36a28', endColorstr='#b96e2b',GradientType=0 );
}
/* tab pane */
.panes .pane {
	display: none;
	min-height: 150px;
}

/* ==========================================================================
 Misc
 ========================================================================== */
/*
 * Images
 */
.img-rounded {
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}
.img-circle {
	-webkit-border-radius: 500px;
	border-radius: 500px 500px 500px 500px;
}
.img-polaroid {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	padding: 4px;
}

/* ==========================================================================
 JQuery Extras
 ========================================================================== */
/*
 /*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: #98afc3;
	position: relative;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.jspDrag {
	background: #273847;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
pre {
	width: 95%;
}
.scroll-pane {
	overflow: auto;
}
.horizontal-only {
	height: auto;
	max-height: 200px;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

