/* ==========================================================================
 Basic States
 ========================================================================== */
article a:hover {
	text-decoration: underline;
}


.is-visible {
	opacity: 1;
	animation: fade 2s;
}
.is-hidden {
	opacity: 0;
	animation: fade 2s reverse;
}
.is-removed {
	display: none !important;
}
.is-added {
	display: block;
}

/* ==========================================================================
 Header States
 ========================================================================== */

.top.is-expanded .header {
	height: 167px;
	background-position: bottom;
}
.top.is-expanded .l-place-holder {
	height: 167px;
}
.top.is-expanded .logo-small {
	overflow: hidden;
	width: 0px;
	opacity: 1;
}
.top.is-collapsed .header {
	-webkit-box-shadow: 0px 1px 4px 1px #000;
	box-shadow: 0px 1px 4px 1px #000;
	background-position: top;
}
.top.is-expanded .primary-nav {
	top: 122px;
}
.top.is-collapsed .primary-nav {
	top: 22px;
}
.top.is-expanded .l-toolbar {
	width: 540px;
}
.top.is-expanded .l-toolbar .btn-group {
	float: left;
	margin-top: 5px;
}
.primary-nav a.is-active, .primary-nav a:hover {
	color: #fff;
	background-color: #c9c9c9;
}
.top.is-expanded .l-toolbar .tool-group {
	width:auto;
}


/* ==========================================================================
 Primary NAV states
 ========================================================================== */
.primary-nav .t-arts a.is-active, .primary-nav .t-arts a:hover {
	color: #fff;
	background-color: #ed9c28;
}
.primary-nav .t-athletics a.is-active, .primary-nav .t-athletics a:hover {
	color: #fff;
	background-color: #bad57e;
}
.primary-nav .t-education a.is-active, .primary-nav .t-education a:hover {
	color: #fff;
	background-color: #83c9f3;
}

/* ==========================================================================
 Hero Gallery States
 ========================================================================== */
.top.is-expanded .l-hero {
	top: 167px;
}
.shifter:hover {
	background-position: bottom;
}
.shifter.is-disabled {
	opacity: 0.3;
}

/* ==========================================================================
 Veiw Finder States
 ========================================================================== */
.l-view-finder.is-homepage {
	height: 648px;/*Home height*/
}
.l-view-finder.is-subpage {
	height: 363px;/*Subpage height*/
}
.logo-links li:hover{
	opacity: 1;
}
/* ==========================================================================
 Image Info Icon
 ========================================================================== */

.is-subpage .image-info {

	background: transparent url("../images/assets/vvf.info.background.sub.png");
	left: 646px;
	top: 207px;
}

.is-homepage .image-info {
	top: 400px;
	left:17px;
}
.view-finder .info-icon:hover, .view-finder .image-info .pagination .shifter:hover {
	background-position: bottom;
}



/* Secondary NAV states*/
.secondary-nav a:hover, .secondary-nav a.is-active {
	background-position: bottom;
}
.secondary-nav a.is-active {
	cursor: default;
}

.image-info .pagination .shifter-next a:hover, .image-info .pagination .shifter-prev a:hover {
	background-position:bottom;
}
.image-info .pagination .shifter.is-disabled a {
	opacity: 0.3;
	background-position:top;
}


/* ==========================================================================
 Sidebar States
 ========================================================================== */
.l-sidebar.is-repositioned {
	top: -120px;
}

.tertiary-nav a:hover {
	background-color: #905013;
}

.tertiary-nav .subnav a:hover, .tertiary-nav .subnav a.is-active {
	background-color: #905013;
	color: #FFFFFF;
}

/* ==========================================================================
 Event Gallery
 ========================================================================== */
.events-gallery .pagination .shifter-next:hover {
	background-position: right bottom;
}
.events-gallery .pagination .shifter-prev:hover {
	background-position: left bottom;
}
.main-content .events-gallery .pagination .shifter a:hover {
	color: #f2dc23;
}
/* ==========================================================================
 Content Section States
 ========================================================================== */

.featured .pagination .page-indicator:hover, .featured .pagination .page-indicator.is-active {
	background-position: bottom;
}
.content .scroll-pane.is-short {
	height: 360px;
}
.content .scroll-pane.is-tall {
	height: 720px;
}

/* ==========================================================================
 Button States
 ========================================================================== */

.btn:hover, .btn:active, .btn.is-active, .btn.is-disabled, .btn[disabled] {
	color: #333333;
}
.toolbar .btn:hover {
	background-position: 0 -15px;
	color: #333333;
	text-decoration: none;
}
.btn:focus {
	outline: thin dotted #333333;
	outline-offset: -2px;
}
.btn.is-active, .btn:active {
	background-color: #E6E6E6;
	background-image: none;
	outline: 0 none;
}
.btn.is-disabled, .btn[disabled] {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: none;
	cursor: default;
	opacity: 0.65;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.is-active {
	background-color: #ffe400;
	border-color: #ffe400;
}
.btn-primary.is-disabled, .btn-primary[disabled] {
	background-color: #d9c61e;
	border-color: #d9c61e;
}
.btn-basic:hover, .btn-basic:active, .btn-basic.is-active {
	background-color:#C0C0C0;
	border-color: #C0C0C0;
}
.btn.btn-link:hover {
	background-color: transparent;
	
}
.toolbar .btn.btn-link:hover {
	color: #fff;
}
.btn.btn-link[disabled]:hover {
	color: #333333;
	text-decoration: none;
}

.toolbar .btn-arrow:hover {
	text-decoration: none;
	color: #fff;
	background-position: right top;
}

.social .icon-links a:hover, .social .icon-links li:hover {
	opacity: 0.90;
	cursor: pointer;
}

.social .shifter a:hover {
	opacity: 0.90;
	cursor: pointer;
}
 .social .shifter:hover {
 	cursor: pointer;
 }
/*This is temp just to help with displaying different layouts*/
.is-subpage .tile-holder, .is-subpage .info-pane {
	display:none;
}
